@model CardTemplate

<div class="card" style="width: 280px;">
    <img src="@Model.PictureUrl" class="rounded mx-auto d-block" width="256" height="200">
    <div class="card-body">
        <p class="card-title">@Model.Name</p>
        <h5 class="card-text">@Model.Price</h5>
        <a class="btn btn-primary">Model.CardUrl</a>
    </div>
</div>