<div class="card" style="width: 280px;">
    <img src="..." class="rounded mx-auto d-block" width="256" height="200">
    <div class="card-body">
        <h5 class="card-title">Описание товара</h5>
        <p class="card-text">Нужно ли доп информация?</p>
        <a href="#" class="btn btn-primary">Ссылка на товар?</a>
    </div>
</div>