@model SampleViewModel

@{
    ViewData["Title"] = "Страница for опытов";
    var numberOfResult = SampleViewModel.NumberOfResults;
    ;
}
<h3>@ViewData["Title"]</h3>

<div class="container" style="overflow-x: scroll; max-width: 100%; padding-top: 20px; padding-bottom: 10px">
    <div class="row" style="flex-wrap: nowrap">
        @for (int i = 0; i < numberOfResult; i++)
        {
            CardHelper.CreateCard(Html);
        }
        ;
    </div>
</div>